.tooling{
    background-color: linear-gradient(180degm #0c0c1d, #111132);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 10px;
    .text-container{
        
        border-radius: 12px;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        span {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 60px;

          
        }
    }

    .legendContainer{
        display: flex;
        gap: 20px;
        justify-content: center;
        .legendBox{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .boxColor{
                width: 30px;
                height: 30px;
                border-radius: 10px;
            }
            p{
                font-size: 25px;
                font-weight: 200;
            }
        }

    }

    @media (max-width: 920px) or (max-height: 600px){
      .textContainer{
        margin-bottom: 5px;
        span {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 20px;
          
      }
      }
      
      .legendContainer{
        display: contents;
        
        .legendBox{
          gap: 5px;
          padding: 2px;
          .boxColor{
              width: 20px;
              height: 20px;
              border-radius: 5px;
          }
          p{
              font-size: 12px;
              font-weight: 200;
          }
      }
      }


      .boxTool {
        width: 130px; 
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.2rem;
        font-size: 13px;
        height: 42px;
        
        
      
        img {
          max-width: 50px;
        }
      }
    }


  }
    .gridContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1366px;
        margin: auto;
        height: 100%;
      }
      
      .boxTool {
        width: 250px; 
        flex-grow: 1;
        margin: 0.5rem;
        border: 0.5px solid #ffffff ;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        padding: 10px;
        font-size: 25px;
        height: 100px;
        text-align: center;
        background-color: #111111;
        @media (max-width: 768px) {
          width: calc(50% - 1rem); 
        }
      
        @media (max-width: 480px) {
          width: calc(100% - 1rem);
        }
      
        img {
          max-width: 100px;
          height: auto;
          margin-right: 5px;
        }
      }
      
      