.navbar{
    height: 100px;
    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span{
            font-weight: bold;
            font-size: 50px;
        }
        .social{
            display: flex;
            gap: 20px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    @media (max-width: 920px) {
        .wrapper {
            padding: 0 10px; 
            display: flex;
            span {
                
              font-size: 40px;
              display: block;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 10px;
            }
      
            .social {
              gap: 5px; 
              position: absolute;
              right: 10px;
              top: 10%;
              img {
                width: 7vw; 
                height: 7vw;
              }
            }
          }
      
       
    
        
      }
}