@font-face {
    font-family: 'atomic';
    src: url('fonts/atomic.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    
}

body {
    background-image: url('/img-noise-2000x2000.png');
    object-fit: cover;
    color: lightgrey;

    
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    html {
        scroll-snap-type: y mandatory;
    }

    section {
        scroll-snap-align: center;
    }
}
